NAME=Bangboo
AVATAR=https://raw.githubusercontent.com/Cesio137/Bangboo/refs/heads/master/assets/avatar/Bangboo.png
TYPE=bot
BUILD=cargo build --release
MAIN=src/main.rs
START=MALLOC_ARENA_MAX=1 MALLOC_MMAP_THRESHOLD_=131072 MALLOC_TRIM_THRESHOLD_=65536 ./target/release/Bangboo
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools, canvas, openssl, libgl